---
import InfiniteSlider from './InfiniteSlider.astro'
const personalImageAlt = 'Sergio Huertas'
---

<article
	class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
	<div
		class="[&>p]:mb-4 [&>p>strong]:text-amber-800 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
	>
		<p>
			My name is Sergio Huertas but everyone just calls me Huertas. I am
			currently <strong
				>developing sports betting projects for multiple international clients</strong
			>.
		</p>

		<p>
			After studying <strong
				>computer engineering at the Universidad Rey Juan Carlos in Madrid
			</strong>I started to specialise as a FrontEnd developer.
		</p>

		<p>
			To date, I have collaborated in <strong
				>more than 10 different projects, most of them with international teams
				and clients, and applying agile methodologies.</strong
			> My goal is to create quality solutions, adapted to the needs of each project.
			All opinions and feedback are positive.
		</p>

		<p>
			In addition to the technologies mentioned in the above projects, some of
			the other technologies I work with are:
		</p>
	</div>

	<img
		width="200"
		height="200"
		src="/sergio-logo.webp"
		alt={personalImageAlt}
		class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
		style="object-position: 50% 50%"
	/>
</article>
<section
	class="flex flex-col items-center mt-2 text-gray-700 dark:text-gray-400"
>
	<InfiniteSlider />
</section>
