---
import NextJS from './icons/NextJS.astro'
import Tailwind from './icons/Tailwind.astro'
import AWS from './icons/AWS.astro'
import Bitbucket from './icons/Bitbucket.astro'
import Cloudflare from './icons/Cloudflare.astro'
import Confluence from './icons/Confluence.astro'
import CSS from './icons/CSS.astro'
import ESLint from './icons/ESLint.astro'
import Firebase from './icons/Firebase.astro'
import Git from './icons/Git.astro'
import Java from './icons/Java.astro'
import Javascript from './icons/Javascript.astro'
import Jira from './icons/Jira.astro'
import MongoDB from './icons/MongoDB.astro'
import Node from './icons/Node.astro'
import PostgresSQL from './icons/PostgresSQL.astro'
import Postman from './icons/Postman.astro'
import Realm from './icons/Realm.astro'
import Svelte from './icons/Svelte.astro'
import Swagger from './icons/Swagger.astro'
import Typescript from './icons/Typescript.astro'
import VSCode from './icons/VisualStudio.astro'
import ViteJS from './icons/ViteJS.astro'
import Webpack from './icons/Webpack.astro'
import Webstorm from './icons/Webstorm.astro'
import Wordpress from './icons/Wordpress.astro'
import XCode from './icons/XCode.astro'

const SLIDERELEMENTS = {
	AWS: {
		name: 'AWS',
		class: 'bg-[#fab157] text-black',
		icon: AWS,
	},
	BITBUCKET: {
		name: 'Bitbucket',
		class: 'bg-[#4d81c7] text-white',
		icon: Bitbucket,
	},
	CLOUDFLARE: {
		name: 'Cloudflare',
		class: 'bg-[#ffa552] text-black',
		icon: Cloudflare,
	},
	CONFLUENCE: {
		name: 'Confluence',
		class: 'bg-[#172b4d] text-white',
		icon: Confluence,
	},
	CSS: {
		name: 'CSS',
		class: 'bg-[#3480b1] text-white',
		icon: CSS,
	},
	ESLint: {
		name: 'ESLint',
		class: 'bg-[#6654c0] text-white',
		icon: ESLint,
	},
	FIREBASE: {
		name: 'Firebase',
		class: 'bg-[#f6b369] text-black',
		icon: Firebase,
	},
	GIT: {
		name: 'Git',
		class: 'bg-[#fa7556] text-white',
		icon: Git,
	},
	JAVA: {
		name: 'Java',
		class: 'bg-[#f89820] text-black',
		icon: Java,
	},
	JAVASCRIPT: {
		name: 'JavaScript',
		class: 'bg-[#f5e28e] text-black',
		icon: Javascript,
	},
	JIRA: {
		name: 'Jira',
		class: 'bg-[#0052cc] text-white',
		icon: Jira,
	},
	MONGODB: {
		name: 'MongoDB',
		class: 'bg-[#4d9744] text-white',
		icon: MongoDB,
	},
	NODE: {
		name: 'Node.js',
		class: 'bg-[#bde28b] text-black',
		icon: Node,
	},
	NEXT: {
		name: 'Next.js',
		class: 'bg-black text-white',
		icon: NextJS,
	},
	POSTGRESSQL: {
		name: 'PostgreSQL',
		class: 'bg-[#336791] text-white',
		icon: PostgresSQL,
	},
	POSTMAN: {
		name: 'Postman',
		class: 'bg-[#ef5b25] text-white',
		icon: Postman,
	},
	REALM: {
		name: 'Realm',
		class: 'bg-[#39477f] text-white',
		icon: Realm,
	},
	SVELTE: {
		name: 'Svelte',
		class: 'bg-[#ff3e00] text-white',
		icon: Svelte,
	},
	SWAGGER: {
		name: 'Swagger',
		class: 'bg-[#85ea2d] text-black',
		icon: Swagger,
	},
	TAILWIND: {
		name: 'Tailwind CSS',
		class: 'bg-[#003159] text-white',
		icon: Tailwind,
	},
	TYPESCRIPT: {
		name: 'TypeScript',
		class: 'bg-[#3178c6] text-white',
		icon: Typescript,
	},
	VSCODE: {
		name: 'VSCode',
		class: 'bg-[#ba67c3] text-white',
		icon: VSCode,
	},
	VITEJS: {
		name: 'Vite.js',
		class: 'bg-[#646cff] text-white',
		icon: ViteJS,
	},
	WEBPACK: {
		name: 'Webpack',
		class: 'bg-[#8dd6f9] text-black',
		icon: Webpack,
	},
	WEBSTORM: {
		name: 'WebStorm',
		class: 'bg-[#000000] text-white',
		icon: Webstorm,
	},
	WORDPRESS: {
		name: 'WordPress',
		class: 'bg-[#21759b] text-white',
		icon: Wordpress,
	},
	XCODE: {
		name: 'Xcode',
		class: 'bg-[#147efb] text-white',
		icon: XCode,
	},
}
---

<div
	class="w-full inline-flex mt-5 flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]"
>
	<ul
		class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll"
	>
		{
			Object.values(SLIDERELEMENTS).map((elem) => (
				<li>
					<span
						class={`flex gap-x-2 rounded-full text-xs ${elem.class} py-1 px-2 items-center text-nowrap`}
					>
						<elem.icon class="size-4" />
						{elem.name}
					</span>
				</li>
			))
		}
	</ul>
	<ul
		class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll"
		aria-hidden="true"
	>
		{
			Object.values(SLIDERELEMENTS).map((elem) => (
				<li>
					<span
						class={`flex gap-x-2 rounded-full text-xs ${elem.class} py-1 px-2 items-center text-nowrap`}
					>
						<elem.icon class="size-4" />
						{elem.name}
					</span>
				</li>
			))
		}
	</ul>
</div>
